body {
  position: relative;
  width: 100%;
  min-width: 375px;
  margin: 0;
  color: $clr-text;
  font-size: $font-size;
  line-height: 1.3;
  font-weight: 400;
  font-family: $font-family;
  text-align: left;
  &.overflow-hidden {
    overflow: hidden;
  }
  &.hide-scrollbar header {
    left: -3px !important;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh));
  background-color: $clr-wrapper;
}

.modal {
	display: none;
	width: 30rem;
	max-width: 98%;
	padding: 2rem;
	border-radius: $border-radius;
	cursor: default !important;
	background: $clr-white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  fill: none;
  stroke: currentColor;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

a {
  transition: color .3s ease-in-out;
  &:not(.btn):not(.footer a):not(.pagination__link):hover {
    color: $clr-primary;
  }
}

.line--6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.error-page__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  & > * {
    min-height: 40px;
  }
}


.custom-checkbox {
  position: relative;

&__field {
  appearance: none;
  position: absolute;
}
&__content {
      display: flex;
      align-items: center;
      column-gap: 10px;
      cursor: pointer;
      span {
          line-height: 1;
      }
      & a:hover {
          text-decoration: underline;
      }

  &::before {
  content: "";
  border: 1px solid $clr-gray-border;
      border-radius: 2px;
      display: block;
  width: 20px;
  height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 0px;
  background-repeat: no-repeat;
      transition: background-size $t-base;
  }
}
  &__field:checked + &__content {
    &::before {
      background-size: 10px;
    }
  }
}

@media (min-width: 991px) and (max-width: 1660px) {
  html {
    zoom: 0.85;
  }
}
