:root {
  --font-family: 'GraphikLCG', sans-serif;

  --font-size: 16px;
  
  --clr-text: #191c1f;    
  --clr-white: #fff;
  --clr-wrapper: #fff;
  
  --clr-primary: #2a6cea;
  --clr-primary-hover: #397dff;
  --clr-gray-border: #dedede;
  
  --t-base: 0.2s ease-in-out;
  
  --shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  
  --border-radius: 13px;
  --btn-border-radius: 4px;
  
  --container: 1256px;
  --container-xs: 1048px;
  --container-offset: 20px;
  --dark-gray: #5e646a;
  --gray: #83898f;
  --mid-gray: #c2c8cd;
  --light-gray: #eceff2;
  --extralight-gray: #f6f8fa;
  --white: #fff;
  --dangerous: #f13636;
  --green-success: #25cd82;
  --primary-disabled: #abcae6;

  @include mobile {
    --container-offset: 16px;
  }
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: 0;
  color: var(--clr-text);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.3;
  font-weight: 400;
  text-align: left;
  overflow-x: hidden;
  &.overflow-hidden {
    overflow: hidden;
  }
}

section.section--bg {
  background-color: var(--extralight-gray);
  padding: clamp(1.25rem, 0.65rem + 3vw, 4.25rem) 0;
  // 20 - 68 _ 320 - 1920
}

section[id] {
  scroll-margin-top: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  fill: none;
  stroke: currentColor;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.img {
  display: block;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.img img, .img svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

::-webkit-scrollbar {
  @include min-mobile {
    width: 6px;
    &-thumb {
      background-color: var(--clr-primary);
      border-radius: 3px;
    }
    &-track {
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}