.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--container-offset);
    max-width: var(--container);
    &.container-xs {
      max-width: var(--container-xs);
    }
  }