.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 25;
    transition: transform var(--t-base);
    &__logo {
        width: 120px;
        height: 24px;
        .logo-title {
            transition: fill .5s ease-in-out;
            body:has(.mobile-menu--open) & {
                fill: var(--clr-text);
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 0;
        @include small-tablet {
            padding: 24px 0;
        }
    }
    .nav__list {
        display: flex;
        height: 100%;
        gap: 24px;
    }
    .nav__link {
        position: relative;
        color: var(--clr-white);
        &::before {
            content: "";
            position: absolute;
            width: 0;
            right: 0;
            left: auto;
            background-color: var(--clr-white);
            height: 1px;
            bottom: -2px;
            transition: all var(--t-base);
        }
        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}