.main {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    --spacing: 80px;
    padding-bottom: var(--spacing);
    row-gap: var(--spacing);
    @include small-tablet {
        --spacing: 56px;
    }
}
