.has-sidebar {
    @include min-small-tablet {
        display: grid;
        grid-template-columns: 245px 1fr;
        align-items: start;
        column-gap: clamp(3.125rem, 1.046rem + 4.34vw, 6.25rem);
        // 50 - 100 767 - 1920
    }
    .sidebar {
        position: sticky;
        top: calc(var(--header-height) + 20px);
        transition: top $t-base;
        @include small-tablet {
            margin-bottom: 30px;
        }
        body:has(.header.is-hidden) & {
            top: 20px;
        }
    }
    .sidebar__nav {
        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            @include mobile {
                gap: 10px;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        &-link {
            display: block;
            width: 100%;
            font-weight: 500;
            color: $sidebar-clr;
            transition: color $t-base;
            &:hover {
                color: $clr-primary;
            }
            &.is-active {
                position: relative;
            }
            @include mobile {
                font-size: 14px;
                &.is-active {
                    padding: 5px 10px;
                    border-radius: 100px;
                    color: $clr-white;
                    background-color: $clr-primary;
                    border-color: $clr-primary;
                }
            }
        }
    }
    .content-area {
        &:not(.history &) > .items {
            display: flex;
            flex-direction: column;
            gap: 50px 20px;
        }
        &_item {
            padding: 30px 30px;
            border: 1px solid $clr-gray-light;
        }
    }
}
