@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: local('#{$file-path}'), url('../fonts/#{$file-path}.woff2') format('woff2'), url('../fonts/#{$file-path}.woff') format('woff');
	}
}

@mixin media-max($mq) {
	@media screen and (max-width: $mq) {
		@content;
	}
}

@mixin any-hover {
	@media (any-hover: hover) {
		@content;
	}
}

@mixin btn-reset {
	text-decoration: none;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

@mixin for-desktop {
	@media (min-width: (1025px)) {
		@content;
	}
}
  
@mixin big-desktop {
	@media (max-width: (1366px)) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: (1199px)) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: (991px)) {
		@content;
	}
}

@mixin small-tablet {
	@media (max-width: (768px)) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: (576px)) {
		@content;
	}
}

@mixin min-big-desktop {
	@media (min-width: (1366px)) {
		@content;
	}
}

@mixin min-desktop {
	@media (min-width: (1199px)) {
		@content;
	}
}

@mixin min-tablet {
	@media (min-width: (991px)) {
		@content;
	}
}

@mixin min-small-tablet {
	@media (min-width: (768px)) {
		@content;
	}
}

@mixin min-mobile {
	@media (min-width: (576px)) {
		@content;
	}
}

  
@mixin custom-checkbox {
	position: relative;
  
	&__field {
	  appearance: none;
	  position: absolute;
	}
  
	&__content {
	  padding-left: 25px;
	  cursor: pointer;
  
	  &::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid #000;
		width: 15px;
		height: 15px;
		box-sizing: border-box;
	  }
  
	  &::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 15px;
		height: 15px;
		box-sizing: border-box;
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
		background-position: center;
		background-size: 10px 10px;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	  }
	}
}


// миксин-разметка для grid блоков
@mixin grid-items-with-arrow {
	&__link {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
		@include mobile {
			padding: 20px;
		}
        z-index: 1;
        &::after {
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            overflow: hidden;
            background-color: $clr-white;
            border-radius: 30px;
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.16669 8H13.8334M13.8334 8L9.83335 4M13.8334 8L9.83335 12' stroke='%23252B33' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
            background-position: center;
            background-size: 16px;
            background-repeat: no-repeat;

            transition: border-color $t-base, background-color $t-base;
        }
    }
    &__item {
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        min-height: 200px;
		transition: background-color $t-base, border-color $t-base;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            z-index: 0;
        }
        .item__title {
            position: relative;
            font-weight: 700;
            font-size: 20px;
            color: $clr-white;
        }
    }
    &__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        & > img {
            width: 100%;
            height: 100%;
            transition: transform .3s;
            transform-origin: right;
        }
    }
	@media (any-hover: hover) {
		&__item:hover &__image > img {
			transform: scale(1.15);
		}
    }
}

@mixin grid-items-with-media {
    &__item {
        border-radius: $border-radius;
        overflow: hidden;
        border: 1px solid $clr-gray-border;
        transition: transform .3s, box-shadow .3s;
        .item__link {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .item__img {
            position: relative;
            width: 100%;
            height: 200px;
            flex-shrink: 0;
        }
        .item__description {
            padding: 25px;
            height: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            justify-content: space-between;
        }
        .item__title {
            font-family: $second-family;
            font-size: $font-size;
            font-weight: 400;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
        }
        .item__date {
            font-family: $second-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            color: $clr-gray-light;
        }
        @include any-hover {
            &:not(.prof-tv__item):hover {
                transform: translateY(-15px);
            }
        }
    }
}
// миксин-разметка для grid блоков