@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: local('#{$file-path}'), url('../fonts/#{$file-path}.woff2') format('woff2'), url('../fonts/#{$file-path}.woff') format('woff');
	}
}

@mixin media-max($mq) {
	@media screen and (max-width: $mq) {
		@content;
	}
}

@mixin any-hover {
	@media (any-hover: hover) {
		@content;
	}
}

@mixin btn-reset {
	text-decoration: none;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

@mixin for-desktop {
	@media (min-width: (1025px)) {
		@content;
	}
}
  
@mixin big-desktop {
	@media (max-width: (1366px)) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: (1199px)) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: (991px)) {
		@content;
	}
}

@mixin small-tablet {
	@media (max-width: (768px)) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: (576px)) {
		@content;
	}
}

@mixin min-big-desktop {
	@media (min-width: (1366px)) {
		@content;
	}
}

@mixin min-desktop {
	@media (min-width: (1199px)) {
		@content;
	}
}

@mixin min-tablet {
	@media (min-width: (991px)) {
		@content;
	}
}

@mixin min-small-tablet {
	@media (min-width: (768px)) {
		@content;
	}
}

@mixin min-mobile {
	@media (min-width: (576px)) {
		@content;
	}
}
  
@mixin custom-checkbox {
	position: relative;
  
	&__field {
	  appearance: none;
	  position: absolute;
	}
  
	&__content {
	  padding-left: 25px;
	  cursor: pointer;
  
	  &::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid #000;
		width: 15px;
		height: 15px;
		box-sizing: border-box;
	  }
  
	  &::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 15px;
		height: 15px;
		box-sizing: border-box;
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
		background-position: center;
		background-size: 10px 10px;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	  }
	}
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin ff2 {
    font-family: $second-family;
}

// миксин-разметка для grid блоков
@mixin grid-items-with-media {
    &__item {
        border-radius: $border-radius;
        overflow: hidden;
        border: 1px solid $clr-gray-border;
        transition: transform .3s, box-shadow .3s;
        .item__link {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .item__img {
            position: relative;
            width: 100%;
            height: 200px;
            flex-shrink: 0;
        }
        .item__description {
            padding: 25px;
            height: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            justify-content: space-between;
        }
        .item__title {
            font-family: $second-family;
            font-size: $font-size;
            font-weight: 400;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
        }
        .item__date {
            font-family: $second-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            color: $clr-gray-light;
        }
        
        @include any-hover {
            &:not(.prof-tv__item):hover {
                transform: translateY(-15px);
            }
        }
    }
}
// миксин-разметка для grid блоков


// миксин-разметка для блока с боковым меню
@mixin flex-has-sidebar {
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }
    &__item {
        scroll-margin-top: 85px;
    }
    &__item-title {
        margin-bottom: 25px;
    }
    &__item-list-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__item-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    &__item-list-title {
        font-size: 18px;
        margin-bottom: 10px;

        @include mobile {
            font-size: 14px;
        }
    }
    &__item-list-inner {
        font-family: $second-family;
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 30px;
        @include mobile {
            column-gap: 15px;
        }
        padding: 20px;
        box-shadow: $shadow-2;
        border-radius: calc($border-radius / 2);
        text-transform: capitalize;
        transition: background $t-base;

        @include mobile {
            font-size: 12px;
        }
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            aspect-ratio: 1;
            flex-shrink: 0;
            display: block;
            background-position: center;
            background-size: 26px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.25 16.75L24.25 18.25C24.25 20.3502 24.25 21.4003 23.8413 22.2025C23.4817 22.9081 22.9081 23.4817 22.2025 23.8413C21.4003 24.25 20.3502 24.25 18.25 24.25L7.75 24.25C5.6498 24.25 4.5997 24.25 3.79754 23.8413C3.09193 23.4817 2.51825 22.9081 2.15872 22.2025C1.75 21.4003 1.75 20.3502 1.75 18.25L1.75 16.75M19.25 10.5L13 16.75M13 16.75L6.75 10.5M13 16.75L13 1.75' stroke='%23252B33' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
            @include mobile {
                width: 20px;
                height: 20px;
                background-size: 20px;
            }
        }
        @include any-hover {
            &:hover {
                background-color: $clr-primary;
                color: $clr-white !important;
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.25 16.75L24.25 18.25C24.25 20.3502 24.25 21.4003 23.8413 22.2025C23.4817 22.9081 22.9081 23.4817 22.2025 23.8413C21.4003 24.25 20.3502 24.25 18.25 24.25L7.75 24.25C5.6498 24.25 4.5997 24.25 3.79754 23.8413C3.09193 23.4817 2.51825 22.9081 2.15872 22.2025C1.75 21.4003 1.75 20.3502 1.75 18.25L1.75 16.75M19.25 10.5L13 16.75M13 16.75L6.75 10.5M13 16.75L13 1.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                }
            }
        }
    }
} 
// миксин-разметка для блока с боковым меню