@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: local('#{$file-path}'), url('../fonts/#{$file-path}.woff2') format('woff2'), url('../fonts/#{$file-path}.woff') format('woff');
	}
}

@mixin any-hover {
	@media (any-hover: hover) {
		@content;
	}
}

@mixin btn-reset {
	text-decoration: none;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

  
@mixin tablet {
	@media (max-width: (991px)) {
		@content;
	}
}

@mixin small-tablet {
	@media (max-width: (768px)) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: (576px)) {
		@content;
	}
}

@mixin min-tablet {
	@media (min-width: (991px)) {
		@content;
	}
}

@mixin min-small-tablet {
	@media (min-width: (768px)) {
		@content;
	}
}

@mixin min-mobile {
	@media (min-width: (576px)) {
		@content;
	}
}