$font-family: 'Geometria', sans-serif;
$second-family: 'Verdana', sans-serif;

$font-size: 16px;

$clr-black: #222;

$clr-text: #252b33;    
$clr-white: #fff;
$clr-wrapper: #fff;
$clr-gray: #ccc;

$clr-primary: #163e73;
$clr-primary-dark: #102b4e;
$belyy: #fff;
$clr-gray-border: #dedede;
$bgclr-search: #f6f6f6;
$clr-gray-light: #999;
$razdelitel: #e3e4e8;
$sidebar-clr: #a4a7af;

$t-base: 0.2s ease-in-out;

$shadow: 0px 5px 34px 0px rgba(0, 0, 0, 0.10);
$shadow-2: 0 0 20px 0 rgba(22, 62, 115, 0.1);;

$border-radius: 20px;
$btn-border-radius: 24px;

$container: 1400px;
$container-offset: 20px;
