
.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
	border-radius: var(--btn-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    border: 1px solid transparent;
    transition: color var(--t-base), background-color var(--t-base), opacity var(--t-base), border-color var(--t-base);

    &.btn-default {
        background: var(--light-gray);
        border-color: var(--light-gray);
        @include any-hover {
            &:hover {
                background-color: var(--clr-white);
                border-color: var(--mid-gray)
            }
        }
    }
    &.btn-primary {
        background-color: var(--clr-primary);
        color: var(--clr-white);
        @include any-hover {
            &:hover:not([disabled]) {
                background-color: var(--clr-primary-hover);
            }
        }
    }

}

.btn-reset {
	@include btn-reset;
}

.btn > span {
	display: flex;
	z-index: 1;
	position: relative;
	justify-content: center;
	align-items: center;
}

.btn_full {
	width: 100%;
}

.btn:disabled {
    background-color: var(--primary-disabled);
	cursor: default;
}