@media (min-width: 991px) {
    .nav__item.nav__item.has-dropdown {
        position: relative;
        display: flex;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        padding-top: 20px;
        left: 0;
        min-width: 300px;
        max-width: 350px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        z-index: 30;
        transition: all .2s ease-in-out;
    }
    .dropdown-menu__inner {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        max-height: 394px;
        overflow-y: auto;
        overscroll-behavior: contain;
    }
    .dropdown-menu__inner::-webkit-scrollbar {
        width: 3px;
    }
    .dropdown-menu li:not(:last-child) {
        border-bottom: 1px solid #e3e4e8;
    }
    .dropdown-menu li > a {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 10px 20px;
        transition: all .2s ease-in-out;
    }
    .dropdown-menu li > a:hover {
        background-color: rgba(22,62,115,.1);
    }
    .nav__item:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    .has-dropdown__link > .icon {
        display: none;
    }
}

@media (max-width: 990px) {
    .nav__item.has-dropdown:has(.is_open) .icon {
        transform: rotate(90deg);
    }
    .dropdown-menu {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s;
    }
    .dropdown-menu.is_open {
        grid-template-rows: 1fr;
    }
    .dropdown-menu__inner {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        padding: 0px 20px;
    }
    .dropdown-menu__inner li:last-child {
        padding-bottom: 25px;
    }
    .dropdown-menu__inner li > a {
        display: block;
        padding: 5px 0;
    }
    .has-dropdown__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > .nav__link {
            width: 100%;
        }
    }
    .has-dropdown__link > .icon {
        width: 30px;
        height: 30px;
        background-color: rgba(22,62,115,.1);
        border-radius: 50%;
        margin: 0 25px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.75 10.5L9.25 7L5.75 3.5' stroke='%23252B33' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center;
        transition: transform .2s ease-in-out;
    }
}
