.gallery {
    margin-top: 50px;
    &__item {
        aspect-ratio: 1/0.75;
        max-height: 230px;
        border-radius: $border-radius;
    }
    @include mobile {
        .grid {
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        }
    }
}