.grid {
    display: grid;
    gap: clamp(0.938rem, 0.653rem + 1.21vw, 1.563rem);
    grid-template-columns: repeat(var(--cols, 1), minmax(0, 1fr));

    &.grid--5 { --cols: 5; }
    &.grid--4 { --cols: 4; }
    &.grid--3 { --cols: 3; }
    &.grid--2 { --cols: 2; }
    &.grid--12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }

    @include desktop {
        &.grid--5 { --cols: 4; }
    }

    @include tablet {
        &.grid--5, &.grid--4 { --cols: 3; }
    }

    @include small-tablet {
        &.grid--5, &.grid--4, &.grid--3 { --cols: 2; }
        &.grid--2:not(.mobile-col) { --cols: 1; }
    }

    @include mobile {
        &.mobile-col-reverse {
            display: flex;
            flex-direction: column-reverse;
        }
        &.mobile-col {
            display: flex;
            flex-direction: column;
        }
    }
}
