.grid {
    display: grid;
    gap: clamp(0.938rem, 0.653rem + 1.21vw, 1.563rem);
    grid-template-columns: repeat(auto-fill, minmax(var(--elem-width), 1fr));

    &.grid--5 { --elem-width: 235px; }

    &.grid--4 { --elem-width: 255px; }
    
    &.grid--3 { 
        --elem-width: 325px;
        @include small-tablet {
            --elem-width: 235px;
        }
        .content-area & {
            --elem-width: 250px;
        }
     }
}
