.lazyload {
    display: block;
    margin: 20px 0;
    max-width: 100%;
    height: auto;
    background: url('./../../img/mask.gif') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.lazyloaded {
    opacity: 1;
}