    
@include mobile {
    .mobile-slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-bottom: -20px;
        padding-bottom: 20px;
    }
    .mobile-slider > * {
        position: relative;
        min-width: 310px;
        scroll-snap-align: start;
    }
}