@include min-tablet {
    .nav__more {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 20px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav__more-label {
        padding-bottom: 15px;
    }
    .more__menu {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid $clr-gray-border;
        border-radius: 5px;
        z-index: 30;
        max-width: 200px;
        width: 200px;
    
        transition: all $t-base;
    }
    .more__menu .nav__item {
        padding: 5px 10px;
    }
    .nav__more:hover .more__menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}
