.search {
    &__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        
        &:not(.search-result &) {
            padding: 0 15px;
            background: $bgclr-search;
            border-radius: $btn-border-radius;
            border: 1px solid transparent;
        }

        &:not(.search-result &):has(input:focus) {
            border-color: $clr-gray-border;
        }
        button[type="submit"] {
            & > svg {
                width: 18px;
                height: 18px;
                transition: all $t-base;
                @include mobile {
                    color: $clr-text !important;
                }
            }
            @include any-hover {
                &:hover svg {
                    stroke: $clr-primary;
                }
            }
        }
    }
    &__input {
        width: 100%;
        padding: 11px 0;
        font-family: $second-family;
        font-size: 14px;
        line-height: 100%;
        &::placeholder {
            color: #a4a7af;
        }
    }     
}