.selector {
    display: block;
    position: relative;
    z-index: 1;
  
    select {
      display: none;
    }
  
    &.is-active .selector__list {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .selector_mobile {
    select {
      display: block !important;
      opacity: 0 !important;
      position: absolute !important;
      inset: 0 !important;
      z-index: 1;
    }
  
    .selector__list {
      display: none !important;
    }
  }
  
  .selector__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    cursor: pointer;
  }
  
  .selector__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    &.is-disabled {
      opacity: 0.7;
    }
  }
  
  .selector__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selector__list {
    top: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
  }
  
  .selector__option {
    cursor: pointer;
  
    &.is-disabled {
      display: none;
    }
  }
  