.section__heading {
    margin-bottom: 61px;    
    text-align: center;
    overflow: hidden;
    @include small-tablet {
        margin-bottom: 42px;
    }
    @include mobile {
        margin-bottom: 30px;
    }
}
  
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
  
h1, .h1 {
    font-size: clamp(1.5rem, 1.15rem + 1.75vw, 3.25rem);
    //  320 - 24 _ 1920 - 52
    line-height: 123%;
}

h2, .h2, .section__title {
    font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
    //  320 - 24 _ 1920 - 40
    line-height: 140%;
}

h3, .h3 {
    font-size: 32px;
    line-height: 125%;
    @include small-tablet {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 16px;
    line-height: 150%;
}
  