.best-workers {
    @include grid-items-with-arrow;
}

.best-workers_detail {
    .text-content {
        margin-bottom: 50px;
    }
    img {
        border-radius: 13px;
    }
    .btn-arrow {
        margin-top: 20px;
    }
}