.bilet {
    &__items {
        @include tablet {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
   &__item {
        display: flex;
        border: 1px solid $clr-gray-border;
        border-radius: 17px;
        overflow: hidden;
        @include mobile {
            flex-direction: column;
        }
        .item__img {
            @include min-mobile {
                width: 205px;
                aspect-ratio: 1 / 1.35;
                flex-shrink: 0;
            }
            @include mobile {
                width: 100%;
                aspect-ratio: 1/0.85;
                & > img {
                    object-fit: contain;
                }
            }
        }
        .item__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 20px;
            padding: 20px 30px;
            height: 100%;
            @include mobile {
                padding: 20px;
            }
        }
        .item__title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 12px;
        }
        .item__subtitle {
            font-family: $second-family;
            @include small-tablet {
                font-size: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);
            }
        }
        .info__foot {
            display: flex;
            align-items: end;
            column-gap: 30px;
            &-img {
                width: 70px;
                height: 97px;
                border-radius: 5px;
            }
            &-numbers {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                & > span {
                    position: relative;
                    font-family: $second-family;
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    font-size: 14px;
                    &::before {
                        content: "";
                        width: 18px;
                        height: 18px;
                        display: block;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    &.work-history::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 15.75V5.25C6 4.55252 6 4.20378 6.07667 3.91766C6.28472 3.1412 6.8912 2.53472 7.66766 2.32667C7.95378 2.25 8.30252 2.25 9 2.25C9.69748 2.25 10.0462 2.25 10.3323 2.32667C11.1088 2.53472 11.7153 3.1412 11.9233 3.91766C12 4.20378 12 4.55252 12 5.25V15.75M3.9 15.75H14.1C14.9401 15.75 15.3601 15.75 15.681 15.5865C15.9632 15.4427 16.1927 15.2132 16.3365 14.931C16.5 14.6101 16.5 14.1901 16.5 13.35V7.65C16.5 6.80992 16.5 6.38988 16.3365 6.06901C16.1927 5.78677 15.9632 5.5573 15.681 5.41349C15.3601 5.25 14.9401 5.25 14.1 5.25H3.9C3.05992 5.25 2.63988 5.25 2.31901 5.41349C2.03677 5.5573 1.8073 5.78677 1.66349 6.06901C1.5 6.38988 1.5 6.80992 1.5 7.65V13.35C1.5 14.1901 1.5 14.6101 1.66349 14.931C1.8073 15.2132 2.03677 15.4427 2.31901 15.5865C2.63988 15.75 3.05992 15.75 3.9 15.75Z' stroke='%23163E73' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                    }
                    &.union-membership::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65719 9.82148L3.52592 5.90739C3.33099 5.66374 3.23353 5.54192 3.16423 5.40626C3.10274 5.2859 3.0578 5.15779 3.03063 5.02539C3 4.87617 3 4.72015 3 4.40813V3.9C3 3.05992 3 2.63988 3.16349 2.31901C3.3073 2.03677 3.53677 1.8073 3.81901 1.66349C4.13988 1.5 4.55992 1.5 5.4 1.5H12.6C13.4401 1.5 13.8601 1.5 14.181 1.66349C14.4632 1.8073 14.6927 2.03677 14.8365 2.31901C15 2.63988 15 3.05992 15 3.9V4.40813C15 4.72015 15 4.87617 14.9694 5.02539C14.9422 5.15779 14.8973 5.2859 14.8358 5.40626C14.7665 5.54192 14.669 5.66374 14.4741 5.90739L11.3428 9.82148M3.75004 2.25L9.00004 9L14.25 2.25M11.6517 10.0983C13.1161 11.5628 13.1161 13.9372 11.6517 15.4017C10.1872 16.8661 7.81282 16.8661 6.34835 15.4017C4.88388 13.9372 4.88388 11.5628 6.34835 10.0983C7.81281 8.63388 10.1872 8.63388 11.6517 10.0983Z' stroke='%23163E73' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                    }
                    &.union-id::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 15.75L8.92496 15.6374C8.40398 14.856 8.14349 14.4652 7.79933 14.1824C7.49464 13.9319 7.14357 13.7441 6.7662 13.6295C6.33994 13.5 5.87033 13.5 4.93112 13.5H3.9C3.05992 13.5 2.63988 13.5 2.31901 13.3365C2.03677 13.1927 1.8073 12.9632 1.66349 12.681C1.5 12.3601 1.5 11.9401 1.5 11.1V4.65C1.5 3.80992 1.5 3.38988 1.66349 3.06901C1.8073 2.78677 2.03677 2.5573 2.31901 2.41349C2.63988 2.25 3.05992 2.25 3.9 2.25H4.2C5.88016 2.25 6.72024 2.25 7.36197 2.57698C7.92646 2.8646 8.3854 3.32354 8.67302 3.88803C9 4.52976 9 5.36984 9 7.05M9 15.75V7.05M9 15.75L9.07504 15.6374C9.59602 14.856 9.85651 14.4652 10.2007 14.1824C10.5054 13.9319 10.8564 13.7441 11.2338 13.6295C11.6601 13.5 12.1297 13.5 13.0689 13.5H14.1C14.9401 13.5 15.3601 13.5 15.681 13.3365C15.9632 13.1927 16.1927 12.9632 16.3365 12.681C16.5 12.3601 16.5 11.9401 16.5 11.1V4.65C16.5 3.80992 16.5 3.38988 16.3365 3.06901C16.1927 2.78677 15.9632 2.5573 15.681 2.41349C15.3601 2.25 14.9401 2.25 14.1 2.25H13.8C12.1198 2.25 11.2798 2.25 10.638 2.57698C10.0735 2.8646 9.6146 3.32354 9.32698 3.88803C9 4.52976 9 5.36984 9 7.05' stroke='%23163E73' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                    }
                }
            }
        }
        a[href^="mailto:"],
        a[href^="tel:"] {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 5px;
            font-family: $second-family;
            line-height: 150%;
            @include mobile {
                font-size: 12px;
            }
            &::before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        a[href^="tel:"]::before {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.98356 7.37767C7.56356 8.58569 8.35422 9.71789 9.35553 10.7192C10.3568 11.7205 11.4891 12.5112 12.6971 13.0912C12.801 13.1411 12.8529 13.166 12.9187 13.1852C13.1523 13.2533 13.4392 13.2044 13.637 13.0627C13.6927 13.0228 13.7403 12.9752 13.8356 12.8799C14.1269 12.5886 14.2726 12.4429 14.4191 12.3477C14.9715 11.9885 15.6837 11.9885 16.2361 12.3477C16.3825 12.4429 16.5282 12.5886 16.8196 12.8799L16.9819 13.0423C17.4248 13.4852 17.6462 13.7066 17.7665 13.9444C18.0058 14.4174 18.0058 14.976 17.7665 15.4489C17.6462 15.6867 17.4248 15.9082 16.9819 16.351L16.8506 16.4824C16.4092 16.9238 16.1886 17.1444 15.8885 17.313C15.5556 17.5 15.0385 17.6345 14.6567 17.6333C14.3126 17.6323 14.0774 17.5655 13.607 17.432C11.0792 16.7146 8.69387 15.3608 6.70388 13.3709C4.7139 11.3809 3.36017 8.99557 2.6427 6.46774C2.50919 5.99737 2.44244 5.76218 2.44141 5.41806C2.44028 5.03621 2.57475 4.51913 2.76176 4.18621C2.9303 3.88618 3.15098 3.66551 3.59233 3.22416L3.72369 3.09279C4.16656 2.64992 4.388 2.42849 4.62581 2.3082C5.09878 2.06898 5.65734 2.06898 6.1303 2.3082C6.36812 2.42849 6.58955 2.64992 7.03242 3.09279L7.19481 3.25518C7.48615 3.54652 7.63182 3.69219 7.72706 3.83867C8.08622 4.39108 8.08622 5.10323 7.72706 5.65564C7.63182 5.80212 7.48615 5.94779 7.19481 6.23913C7.09955 6.33439 7.05192 6.38202 7.01206 6.4377C6.87038 6.63556 6.82146 6.92244 6.88957 7.15607C6.90873 7.22181 6.93367 7.27376 6.98356 7.37767Z' stroke='%23163E73' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        }
        a[href^="mailto:"]::before {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66602 5.83333L8.47012 10.5962C9.02109 10.9819 9.29658 11.1747 9.59624 11.2494C9.86093 11.3154 10.1378 11.3154 10.4025 11.2494C10.7021 11.1747 10.9776 10.9819 11.5286 10.5962L18.3327 5.83333M5.66602 16.6667H14.3327C15.7328 16.6667 16.4329 16.6667 16.9677 16.3942C17.4381 16.1545 17.8205 15.772 18.0602 15.3016C18.3327 14.7669 18.3327 14.0668 18.3327 12.6667V7.33333C18.3327 5.9332 18.3327 5.23313 18.0602 4.69835C17.8205 4.22795 17.4381 3.8455 16.9677 3.60581C16.4329 3.33333 15.7328 3.33333 14.3327 3.33333H5.66602C4.26588 3.33333 3.56582 3.33333 3.03104 3.60581C2.56063 3.8455 2.17818 4.22795 1.9385 4.69835C1.66602 5.23313 1.66602 5.9332 1.66602 7.33333V12.6667C1.66602 14.0668 1.66602 14.7669 1.9385 15.3016C2.17818 15.772 2.56063 16.1545 3.03104 16.3942C3.56582 16.6667 4.26588 16.6667 5.66602 16.6667Z' stroke='%23163E73' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        }
   }
}