
.form {
    position: relative;
    background-color: $clr-white;
    &:not(#callback_form  &) {
        padding: 40px;
    }
    margin: 0 auto;

    &-wrapper {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        overflow: hidden;
        border: 1px solid $clr-gray;
        border-radius: $border-radius;
    }
    &-group {
        margin-bottom: 15px;
    }
    &__success {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        padding: 40px;
        background-color: $clr-white;
        display: none;
        transition: all .3s;
        text-align: center;
        .success__title {
            font-size: 22px;
        }
        &.is-visible {
            display: flex;
        }
    }
    &-label {
        display: flex;
        column-gap: 5px;
        font-size: 14px;
        margin-bottom: 10px; 
        .required-star {
            color: rgb(184, 17, 17);
        }
    }
    &-input {
        font-family: $second-family;
        width: 100%;
        padding: 12.5px 10px; 
        border: 1px solid $clr-gray;
        border-radius: 5px;
        transition: border-color 0.3s;
        font-size: 14px;
        @include mobile {
            font-size: 16px;
        }
        &:focus {
            border-color: $clr-primary;
            outline: none;
        }
    }
    &-privacy {
        font-family: $second-family;
        margin-bottom: 15px;
        font-size: 14px;
    }
    textarea {
        height: 75px;
    }
}

.just-validate-error-label {
    margin-top: 5px;
    font-size: 14px;
}

#callback_form {
    padding: 0;
    background-color: transparent;
    width: 95% !important;
    @include min-mobile {
        max-width: 500px;
    }
}

#callback_form .form-wrapper {
    position: relative;
    border-radius: $border-radius;
    background-color: $clr-white;
    overflow: hidden;
    padding: 30px;
    & > form {
        width: 100%;
    }
    .modal__title {
        font-size: 23px;
        margin-bottom: 15px; 
    }
    .modal__subtitle {
        font-family: $second-family;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    form button[type="submit"] {
        font-size: 16px;
        padding: 15px 0;
    }
}

.message-container {
    margin-top: 10px;
    color: green;
    font-size: 14px;
}