.history {
    &__items {
        @include desktop {
            --cols: 2 !important;
        }
    }
    .item {
        background-color: $clr-white;
        border: 1px solid $clr-gray-border;
        &::after {
            display: none;
        }
        @include any-hover {
            &:hover {
                background-color: $clr-primary;
                border-color: $clr-primary;
                .item__title {
                    color: $clr-white;
                }
                .history__link {
                    border-color: $clr-primary;
                }
            }
        }
    }
    .item__link {
        &::after {
            border: 1px solid $clr-gray-border;
        }
    }
    .item__title {
        color: inherit;
    }
}