.museum {
    &__items {

    }
    &__item {

    }
    .tabs-head {
        column-gap: 10px;
    }
    .tab {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 0 20px;
        min-height: 40px;
        height: 40px;
        color: $clr-primary;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        border: 1px solid $clr-gray-border;
        border-radius: $btn-border-radius;
        & > svg {
            width: 16px;
            height: 16px;
            fill: none;
            stroke-width: 0.5px;
        }
        &.is-active {
            color: $clr-white;
            background-color: $clr-primary;
            border-color: $clr-primary;
        }
        @include any-hover {
            &:hover {
                color: $clr-white;
                background-color: $clr-primary;
                border-color: $clr-primary;
            }
        }
    }
}