.prof-tv {
    @include grid-items-with-media;
    .play-btn {
        position: absolute;
        z-index: 5;
        left: 25px;
        bottom: 25px;
        width: 40px;
        height: 40px;
        aspect-ratio: 1;
        background-color: $clr-white;
        border-radius: 50%;

        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 5L0.5 10L0.5 -3.93402e-07L9.5 5Z' fill='%23163E73' /%3E%3C/svg%3E");
        background-size: 10px 9px;
        background-position: center;
        background-repeat: no-repeat;

        transition: transform $t-base;
        transform-origin: left bottom;
    }
    .prof-tv__item-link {
        cursor: pointer;
    }
    &__item {
        @include any-hover {
            &:hover {
                .play-btn {
                    transform: scale(1.25);
                }
            }
        }
    }
}
