.sanatory {
    &__slide {
        aspect-ratio: 1 / 0.725;
        border-radius: calc($border-radius / 2);
        overflow: hidden;
    }
    .swiper {
        overflow: visible;
        margin-top: 10px;
        margin-bottom: 60px;
        @include mobile {
            margin-bottom: 30px;
        }
        &-nav {
            margin-bottom: 30px;
        }
    }
    .section__content > div:not(:last-child):has(.text-content > :last-child:not(.swiper)) {
        margin-bottom: 60px;
    }
    .text-content {
        & *:not(.introduction > .text-content):not(.swiper):not(.swiper *) {
            max-width: 690px;
        }
        &_contacts {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            & > * {
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 150%;
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .text-content:not(.introduction .text-content) {
        & > :first-child {
            margin-bottom: 20px;
            & {
                & + * {
                    margin-bottom: 30px;
                }
            }
        }
        ul + p {
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
}