.sanatory {
    .text-content {
        &_contacts {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            & > * {
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 150%;
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .text-content {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        & > div *:first-child {
            margin-top: 0;
        }
        & > div *:last-child {
            margin-bottom: 0;
        }
        ul + p {
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
}
